# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jeremie\Documents\VS_Projects\HEIG-VD\RES\Laboratoires\LABO4\Teaching-HEIGVD-RES-2021-Labo-SMTP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
